<!-- One -->
<section id="one">
	<header class="major">
		<h2>Film Scoring</h2>
	</header>
	<p>This page features visual media where I have composed the original s</p>
	<!-- <ul class="actions">
		<li><a href="#" class="button">Learn More</a></li>
	</ul> -->
</section>

<!-- Two -->
<section id="two">
	<div class="row">
    
    <!-- Project Entry -->
		<h2>For Kamera</h2>
		<div class="projEntry">
			<div class="projBio">
				<p>After separating from his wife, Trenton Harris finds that he’s been estranged from the most important person in his life: his daughter, Kamera. An NYU short film. Directed by: Sheldon Walker</p>
			</div>
			<div class="projImg">
				<!-- Insert embed code in the href spot from youtube; and image of your choice -->
				<a class="fancybox fancybox.iframe" href="https://player.vimeo.com/video/116716597" target="_blank"><img src="https://i.vimeocdn.com/video/503163212.jpg?mw=320&amp;mh=180" alt=""></a>
			</div>
		</div>
		<!-- End Project Entry -->
	</div>
</section>

<section id="two">
	<div class="row">
		<!-- Project Entry -->
		<h2>The Hurt Locker: Re-Score</h2>
		<div class="projEntry">
			<div class="projBio">
				<p>The soundtrack of this scene was redone for our Audio for Video class at New York University's Music Technology program. The mix was edited entirely in Pro Tools. Sound effects were created using a combination of ADR, Foley, and Live recording. The score was created in Logic Pro and the tracks were exported for editing in Pro Tools. 
				Sound Effects: Marlon Fischer, Ronny Mraz, Liam Mellor
				Score: Ronny Mraz
				Final Mix: Marlon Fischer
				Voice of Thompson: Marlon Fischer
				Voice of Sanborn: Ronny Mraz
				Voice of Eldridge: Liam Mellor.</p>
			</div>
			<div class="projImg">
				<!-- Insert embed code in the href spot from youtube; and image of your choice -->
				<a class="fancybox fancybox.iframe" href="http://www.youtube.com/embed/klDTTkkPJgE" target="_blank"><img src="https://i.ytimg.com/vi/klDTTkkPJgE/mqdefault.jpg"></a>
			</div>
		</div>
		<!-- End Project Entry -->
	</div>
</section>

<!-- Contact -->
<br><br>
<ul class="actions">
	<li><a class="button" onclick="toggle_visibility('contactForm');">Contact</a></li>
</ul>
<div style="display: none" id="contactForm">
	<section id="three">
		<div class="row">
			<div class="8u 12u$(2)">
				<form method="post" action="#">
					<div class="row uniform 50%">
						<div class="6u 12u$(3)"><input type="text" name="name" id="name" placeholder="Name" /></div>
						<div class="6u$ 12u$(3)"><input type="email" name="email" id="email" placeholder="Email" /></div>
						<div class="12u$"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
					</div>
				</form>
				<ul class="actions">
					<li><input type="submit" value="Send Message" /></li>
				</ul>
			</div>
			<div class="4u$ 12u$(2)">
				<ul class="labeled-icons">
					<li>
						<h4>Ronny Mraz</h4>
					<li>
						<h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
						1 (914) 479-2437
					</li>
					<li>
						<h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
						<a href="mailto:ronny.mraz@gmail.com">ronny.mraz@gmail.com</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>