<!-- One -->
<section id="one">
	<header class="major">
		<h2>Video Game Design</h2>
	</header>
	<p>This page features video games that I have worked on in various roles including: Music Composer, Sound Designer, Creative Designer, and Audio Programmer</p>
	<!-- <ul class="actions">
		<li><a href="#" class="button">Learn More</a></li>
	</ul> -->
</section>

<!-- Two -->
<section id="two">
	<div class="row">

		<!-- Project Entry -->
		<h2>Caeludum</h2>
		<div class="projEntry">
			<div class="projBio">
				<p>Current Project<br>
				Role: Music Composer<br>
				"Caeludum", is a turn-based god game in which players compete to become the most powerful deity by destroying or converting the followers of others. Choose what kind of god you want to be by unlocking new powers through out the game. </p>
			</div>
            <!-- I'm putting links to these projects in the embed code, I'm not  sure if thats formatting specific or  not -->
			<div class="projImg">
				<a class="fancybox fancybox.iframe" href="http://www.indiedb.com/games/caeludum" target="_blank"><img src="img/caeludum.png"></a>
			</div>
		</div>
		<!-- End Project Entry -->

		<!-- Project Entry -->
		<h2>Chromacore</h2>
		<div class="projEntry">
			<div class="projBio">
				<p>"Chromacore” is a 2D Musical Platforming Game where the player must build the game’s soundtrack by picking up items as they traverse the game’s level. Responsibilities included: designing level mechanics, appropriately editing songs, and extracting data from mp3 files using C# in the Unity Game Engine.

Runner-up in GitHub’s “Game off” 2014</p>
			</div>
			<div class="projImg">
				<a class="fancybox fancybox.iframe" href="https://github.com/Murkantilism/Chromacore" target="_blank"><img src="img/chromacore.png"></a>
			</div>
		</div>
		<!-- End Project Entry -->
        
        	<!-- Project Entry -->
		<h2>Enigmatic</h2>
		<div class="projEntry">
			<div class="projBio">
				<p>"Enigmatic” is a 2D Platforming Game where the mechanics for each level vary based on a riddle that the player must answer correctly. Responsibilities included composing music for the game and creating all of the game’s sound effects.

Runner-up in GitHub’s “Game off” 2014</p>
			</div>
			<div class="projImg">
				<a class="fancybox fancybox.iframe" href="http://www.desura.com/games/enigmatic" target="_blank"><img src="img/enigmatic.png"></a>
			</div>
		</div>
		<!-- End Project Entry -->

	</div>
</section>

<!-- Contact -->
<br><br>
<ul class="actions">
	<li><a class="button" onclick="toggle_visibility('contactForm');">Contact</a></li>
</ul>
<div style="display: none" id="contactForm">
	<section id="three">
		<div class="row">
			<div class="8u 12u$(2)">
				<form method="post" action="server/contactengine.php">
					<div class="row uniform 50%">
						<div class="6u 12u$(3)"><input type="text" name="Name" id="Name" placeholder="Name" /></div>
						<div class="6u$ 12u$(3)"><input type="email" name="Email" id="Email" placeholder="Email" /></div>
						<div class="12u$"><textarea name="Message" id="Message" placeholder="Message" rows="4"></textarea></div>
					</div>
					<br>
					<input type="submit" name="submit" value="Submit" class="submit-button" />
				</form>
			</div>
			<div class="4u$ 12u$(2)">
				<ul class="labeled-icons">
					<li>
						<h4>Ronny Mraz</h4>
					<li>
						<h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
						1 (914) 479-2437
					</li>
					<li>
						<h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
						<a href="mailto:ronny.mraz@gmail.com">ronny.mraz@gmail.com</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>