<!-- One -->
<section id="one">
	<header class="major">
		<h2>Ipsum lorem dolor aliquam ante commodo<br />
		magna sed accumsan arcu neque.</h2>
	</header>
	<p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque cubilia.</p>
	<ul class="actions">
		<li><a href="#" class="button">Learn More</a></li>
	</ul>
</section>

<!-- Two -->
<section id="two">
	<h2>Recent Work</h2>
	<div class="row">
		<article class="6u 12u$(3) work-item">
			<a href="images/fulls/01.jpg" class="image fit thumb"><img src="" alt="" /></a>
			<h3>Magna sed consequat tempus</h3>
			<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
		</article>
		<article class="6u$ 12u$(3) work-item">
			<a href="images/fulls/02.jpg" class="image fit thumb"><img src="" alt="" /></a>
			<h3>Ultricies lacinia interdum</h3>
			<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
		</article>
		<article class="6u 12u$(3) work-item">
			<a href="images/fulls/03.jpg" class="image fit thumb"><img src="" alt="" /></a>
			<h3>Tortor metus commodo</h3>
			<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
		</article>
		<article class="6u$ 12u$(3) work-item">
			<a href="images/fulls/04.jpg" class="image fit thumb"><img src="" alt="" /></a>
			<h3>Quam neque phasellus</h3>
			<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
		</article>
	</div>
	<ul class="actions">
		<li><a href="#" class="button">Full Portfolio</a></li>
	</ul>
</section>

<!-- Three -->
<section id="three">
	<h2>Get In Touch</h2>
	<p>Accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque lorem ipsum dolor.</p>
	<div class="row">
		<div class="8u 12u$(2)">
			<form method="post" action="server/contactengine.php">
				<div class="row uniform 50%">
					<div class="6u 12u$(3)"><input type="text" name="Name" id="Name" placeholder="Name" /></div>
					<div class="6u$ 12u$(3)"><input type="email" name="Email" id="Email" placeholder="Email" /></div>
					<div class="12u$"><textarea name="Message" id="Message" placeholder="Message" rows="4"></textarea></div>
				</div>
				<br>
				<input type="submit" name="submit" value="Submit" class="submit-button" />
			</form>
		</div>
		<div class="4u$ 12u$(2)">
			<ul class="labeled-icons">
				<li>
					<h4>Ronny Mraz</h4>
				<li>
					<h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
					1 (914) 479-2437
				</li>
				<li>
					<h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
					<a href="mailto:ronny.mraz@gmail.com">ronny.mraz@gmail.com</a>
				</li>
			</ul>
		</div>
	</div>
</section>