<!-- One -->
<section id="one">
	<header class="major">
		<h2>Caeludum Tech Demo</h2>
	</header>
	<!-- <ul class="actions">
		<li><a href="#" class="button">Learn More</a></li>
	</ul> -->
	<br>
	<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/112061031&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
	<br><br>
</section>

<!-- One -->
<section id="one">
	<header class="major">
		<h2>Orchestral Demo Cues Winter 2014/2015</h2>
	</header>
	<!-- <ul class="actions">
		<li><a href="#" class="button">Learn More</a></li>
	</ul> -->
	<br>
	<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/99920948&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
	<br><br>
</section>

<!-- One -->
<section id="one">
	<header class="major">
		<h2>Enigmatic Soundtrack</h2>
	</header>
	<!-- <ul class="actions">
		<li><a href="#" class="button">Learn More</a></li>
	</ul> -->
	<br>
	<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/99920809&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
	<br><br>
</section>

<!-- One -->
<section id="one">
	<header class="major">
		<h2>Full List</h2>
	</header>
	<!-- <ul class="actions">
		<li><a href="#" class="button">Learn More</a></li>
	</ul> -->
	<br>
	<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/11521266&amp;color=ff9900&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
	<br><br>
</section>

<!-- Contact -->
<ul class="actions">
	<li><a class="button" onclick="toggle_visibility('contactForm');">Contact</a></li>
</ul>
<div style="display: none" id="contactForm">
	<section id="three">
		<div class="row">
			<div class="8u 12u$(2)">
				<form method="post" action="#">
					<div class="row uniform 50%">
						<div class="6u 12u$(3)"><input type="text" name="name" id="name" placeholder="Name" /></div>
						<div class="6u$ 12u$(3)"><input type="email" name="email" id="email" placeholder="Email" /></div>
						<div class="12u$"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
					</div>
				</form>
				<ul class="actions">
					<li><input type="submit" value="Send Message" /></li>
				</ul>
			</div>
			<div class="4u$ 12u$(2)">
				<ul class="labeled-icons">
					<li>
						<h4>Ronny Mraz</h4>
					<li>
						<h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
						1 (914) 479-2437
					</li>
					<li>
						<h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
						<a href="mailto:ronny.mraz@gmail.com">ronny.mraz@gmail.com</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>