<!-- One -->
<section id="one">
	<header class="major">
		<h2>Other Projects</h2>
	</header>
	<p>On this page you will find a variety of creative projects that I have been involved in on various roles including: producer, video editor, and composer. </p>
	<!-- <ul class="actions">
		<li><a href="#" class="button">Learn More</a></li>
	</ul> -->
</section>
<!-- Two -->
<section id="two">
	<div class="row">
<!-- Project Entry -->
		<h2>Spatialized Soundscape - IRCAM 2015</h2>
		<div class="projEntry">
			<div class="projBio">
				<p>This composition was composed using found sounds around from items in my apartment and utilized Event Triggering, Effects, and IRCAM Spat inside of the Max 7 programming envirionment. For a more in depth description of this composition and the tactics used, click on the image to the right.</p>
			</div>
            <!-- this one might need a soundcould link-->
			<div class="projImg">
				<a href="files/Spatialized_Sounscape_1_Discussion-RonnyMraz.pdf" target="_blank"><img src="img/Spatialized_Sounscape_1_Discussion-RonnyMraz.png"></a>
				<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/201889946&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
			</div>
		</div>
	</div>
</section>

<!-- Two -->
<section id="two">
	<div class="row">

		<!-- Project Entry -->
		<h2>NYU Science of Music</h2>
		<div class="projEntry">
			<div class="projBio">
				<p><strong>Co-Producer, Video Editor, On-Screen Personality</strong><br>				
				The Science of Music is a place for musicians to connect their skills with science and technology. Where you’re an interested performer, builder, gear head, or enthusiast, we have something for you. Our acoustics and electronics DIY projects are fun, easy, and educational, while our topical videos will run the gamut from the physics of sound to the psychology of music.</p>
			</div>
            <!-- I'm putting links to these projects in the embed code, I'm not  sure if thats formatting specific or  not 
            how were you getting the default youtube images?-->
			<div class="projImg">
				<a class="fancybox fancybox.iframe"><a href= "https://www.youtube.com/embed/jNmJmunovbg" target="_blank"><img src="https://i.ytimg.com/vi/jNmJmunovbg/mqdefault.jpg"></a>
                
			</div>
		</div>
	</div>
</section>
	
        
        <!-- Two -->
<section id="two">
	<div class="row">

		<!-- Project Entry -->
		<h2>VH1's You Oughta Know Concert 2014</h2>
		<div class="projEntry">
			<div class="projBio">
				<p>NYU Men’s glee club performs “The Man” with Aloe Blacc on VH1’s You Oughta Know Concert 2014 at the Hammerstein Ballroom in New York City. Broadcast live on VH1</p>
			</div>
            <!-- i didnt see an embed link on the video page to this so we might just have to link out to it-->
			<div class="projImg">
				<a class="fancybox fancybox.iframe"> <a href="http://www.vh1.com/events/you_oughta_know_live_in_concert/videos/the-man-live/1098002/#id=1732583" target="_blank"><img src="http://images1.mtv.com/uri/mgid:uma:image:mtv.com:9721167?width=380&height=214&quality=0.8&crop=true"></a>
			</div>
		</div>
	</div>
</section>
                
                <!-- Two -->
<section id="two">
	<div class="row">

		<!-- Project Entry -->
		<h2>Arrangement of Misty Mountains</h2>
		<div class="projEntry">
			<div class="projBio">
				<p>NYU Men's glee club performs a medley of "Misty Mountains" and "Rains of Castamere" at NYU's Frederick Lowe Theater in New York City<br>
        "Misty Mountains" arranged by Ronny Mraz<br>
        "Rains of Castamere"arranged by John Atorino</p>
			</div>
            <!-- I'm putting links to these projects in the embed code, I'm not  sure if thats formatting specific or  not 
            how were you getting the default youtube images?-->
			<div class="projImg">
				<a class="fancybox fancybox.iframe"> <a href= "https://www.youtube.com/watch?v=LiyI7IUH6Zk" target="_blank"> <img src="https://i.ytimg.com/vi/LiyI7IUH6Zk/mqdefault.jpg"></a>
			</div>
		</div>
	</div>
</section>

<section id="two">
	<div class="row">
    <!-- Project Entry -->
		<h2>Affiliate Gameplay Director</h2>
		<div class="projEntry">
			<div class="projBio">
				<p>Affiliate Gameplay Director of Machinima Inc. from 2011 - 2013 Created gameplay videos and guides to be uploaded to the Machinima channel. Videos revolved around video game theory and gameplay typically in the "RPG" genre. </p>
			</div>
            <!-- I'm putting links to these projects in the embed code, I'm not  sure if thats formatting specific or  not 
            how were you getting the default youtube images?-->
			<div class="projImg">
				<a class="fancybox fancybox.iframe"> <a href= "https://www.youtube.com/embed/ZypP4U_0ovY" target="_blank"> <img src="https://i.ytimg.com/vi/ZypP4U_0ovY/mqdefault.jpg"></a>
			</div>
		</div>
	</div>
</section>

<!-- Contact -->
<br><br>
<ul class="actions">
	<li><a class="button" onclick="toggle_visibility('contactForm');">Contact</a></li>
</ul>
<div style="display: none" id="contactForm">
	<section id="three">
		<div class="row">
			<div class="8u 12u$(2)">
				<form method="post" action="#">
					<div class="row uniform 50%">
						<div class="6u 12u$(3)"><input type="text" name="name" id="name" placeholder="Name" /></div>
						<div class="6u$ 12u$(3)"><input type="email" name="email" id="email" placeholder="Email" /></div>
						<div class="12u$"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
					</div>
				</form>
				<ul class="actions">
					<li><input type="submit" value="Send Message" /></li>
				</ul>
			</div>
			<div class="4u$ 12u$(2)">
				<ul class="labeled-icons">
					<li>
						<h4>Ronny Mraz</h4>
					<li>
						<h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
						1 (914) 479-2437
					</li>
					<li>
						<h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
						<a href="mailto:ronny.mraz@gmail.com">ronny.mraz@gmail.com</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>