<!-- One -->
<section id="one">
	<header class="major">
		<h2>Resume</h2>
	</header>
	<div>
		<h3>Education</h3>
		<p class="resL"><strong>NYU Steinhardt</strong></p>
		<p class="resR"><strong>Class of 2016</strong></p>
		<p>Major: Music Technology<br>Minor: Computer Science</p>
		<p class="resL"><strong>John Jay High School</strong></p>
		<p class="resR"><strong>Class of 2012</strong></p>
		<p>New York Regents Diploma</p>

		<h3>Work Experience</h3>
		<p class="resL"><strong>Video Producer at NYU Summer Institute of Music Technology</strong></p>
		<p class="resR"><strong>July – August 2014</strong></p>
			<ul class="resList">
			  <li>Responsible for documenting, producing, and editing three promotional videos for the various summer
				programs that occur within the Music Technology program at NYU Steinhardt. Duties included documenting interesting events, conducting student interviews, and editing the footage.</li>
			</ul>
		<p class="resL"><strong>Video Editor/Content Producer at NYU Science of Music</strong></p>
		<p class="resR"><strong>October 2013 – December 2014</strong></p>
			<ul class="resList">
			  <li>Responsible for producing, filming, and editing educational videos on the NYU Science of Music Youtube channel. Participated in weekly production meetings, and created timelines and schedules for video projects.</li>
			</ul>
		<p class="resL"><strong>Full Time Summer Intern at Owl Computing Technologies Inc.</strong></p>
		<p class="resR"><strong>Summer 2010, 2011, 2012 and 2013</strong></p>
			<ul class="resList">
			  <li>2013: Programmed in PHP, MySQL, JavaScript, and HTML in Dreamweaver to create a more efficient web- based project management system to be used by employees throughout the company</li>
			  <li>2012: Worked in Quality Assurance on Linux based products proof reading and revising technical documentation for products to be shipped to customers</li>
			  <li>2011/2012: Worked with inventory management to oversee the creation of kits containing build materials that were needed to assemble computer peripherals at ISO9000 facilities for specific orders</li>
			  <li>2011: Designed, engineered, and installed a voice-over studio for the office to record product demos. Wrote technical documentation to provide instructions on how to use the studio.</li>
			  <li>2010: Worked in Integrated Testing to test the functionality of boards that would be shipped to customers</li>
			</ul>
		<p class="resL"><strong>Affiliate of Machinima Inc.</strong></p>
		<p class="resR"><strong>2011-2013</strong></p>
			<ul class="resList">
			  <li>Created videos of analysis and reviews for the latest video games. Videos were put online on the Machinima Network. Videos summed 250,000 views.</li>
			</ul>
		<p></p>

		<h3 class="resTitle">Projects</h3>
		<p class="resL"><strong>Independent Film and Game Composer</strong></p>
		<p class="resR"><strong>June 2014 – Present</strong></p>
			<p class="resInfo">Composer for both films and video games writing music ranging from orchestral, rock, ambient soundscapes, and anything in between. Composition credits include both short films and games. Currently writing a feature length, orchestral-based, score for an independent world building video game titled, “Caeludum”.</p>
		<p class="resL"><strong>Student at IRCAM <em>(Institut de Recherche et Coordination Acoustique/Musique)</em></strong></p>
		<p class="resR"><strong>January 2015 – May 2015</strong></p>
			<p class="resInfo">Invited to be part of a group of students from NYU Steinhardt to study at the IRCAM institute in Paris, France during the Spring 2015 semester. Was taught concepts in the fields of Spatialization, Synthesis, and Computer- Aided Composition through the programming environment Max/MSP. Studies from the semester culminated in a final project. Personal final project was a spatialized composition utilizing found sounds, sound design, and event triggering in Max.</p>
		<p class="resL"><strong>Composer and Sound Designer of “Enigmatic“</strong></p>
		<p class="resR"><strong>June 2014 – August 2014</strong></p>
			<p class="resInfo">“Enigmatic” is a 2D Platforming Game where the mechanics for each level vary based on a riddle that the player must answer correctly. Responsibilities included composing music for the game and creating all of the game’s sound effects.</p>
		<p class="resL"><strong>Creative Developer and Audio Programmer of “Chromacore”</strong></p>
		<p class="resR"><strong>January 2014 – May 2014</strong></p>
			<p class="resInfo">“Chromacore” is a 2D Musical Platforming Game where the player must build the game’s soundtrack by picking up items as they traverse the game’s level. Responsibilities included: designing level mechanics, appropriately editing songs, and extracting data from mp3 files using C# in the Unity Game Engine.</p>
		<p class="resL"><strong>Project Lead of USaleOnline.com</strong></p>
		<p class="resR"><strong>January 2013- October 2013</strong></p>
			<p class="resInfo">Project lead and Lead developer of the website usaleonline.com. “Usale” is a service that connects students to sell their goods such as textbooks. Managed a team of 3 designers in developers to bring a product from prototyping to release.</p>

		<h3 class="resTitle">Skills</h3>
		<ul class="resList">
		  <li>Experience in Digital Audio Workstations (DAWs): Logic Pro (9 and X), Protools (10 and 11), Reason, Finale, Cubease, Garageband, and Audacity</li>
		  <li>Programming Experience in: Max/MSP, Java, C, C#, Python, PHP, MySQL, Javascript, and HTML</li>
		  <li>Experience using Audient ASP 824 Mixer, Otari MTR-90 Analog Tape, Studio Live SSL Mixer, and various other studio hardware components such as API Preamps, and Lexicon Reverb</li>
		  <li>Experience with video editing software: Adobe Premiere, and Final Cut Pro</li>
		  <li>Bass Singer in the NYU Men’s Glee Club</li>
		</ul>

	</div>
</section>

<!-- Contact -->
<ul class="actions" style="float: left;">
	<li><a class="button" onclick="toggle_visibility('contactForm');">Contact</a></li>
</ul>
<div style="display: none" id="contactForm">
	<section id="three">
		<div class="row">
			<div class="8u 12u$(2)">
				<form method="post" action="#">
					<div class="row uniform 50%">
						<div class="6u 12u$(3)"><input type="text" name="name" id="name" placeholder="Name" /></div>
						<div class="6u$ 12u$(3)"><input type="email" name="email" id="email" placeholder="Email" /></div>
						<div class="12u$"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
					</div>
				</form>
				<ul class="actions">
					<li><input type="submit" value="Send Message" /></li>
				</ul>
			</div>
			<div class="4u$ 12u$(2)">
				<ul class="labeled-icons">
					<li>
						<h4>Ronny Mraz</h4>
					<li>
						<h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
						1 (914) 479-2437
					</li>
					<li>
						<h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
						<a href="mailto:ronny.mraz@gmail.com">ronny.mraz@gmail.com</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>